body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;       /*to override bootstrap styling*/
}

/* footer */

.f-info-link a{
    color: #222222;
    text-decoration: none;
}

.f-info-link a:hover{
   
    text-decoration: underline;
}
.f-info{
    padding-top: 1rem;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-social{
    width: 100%;

}
.f-info-link{
    width: 100%;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* card effect */


.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay :hover{
    opacity: 0.3;
    background-color: white;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}

/* New page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    margin-bottom: 2rem;
}

/* Edit page */
.edit-btn{
     background-color: #fe424d !important;
    border: none !important;
    margin-bottom: 2rem;
}
.show-img{
    height: 30vh;
}

/* Show route */
.btns{
    display: flex;
}

#map{
    height: 400px;
    width: 80vh;
}